# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3*
*.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebooks
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv/
env/
venv/
ENV*/
env.bak/
venv.bak/

# pyenv
.python-version

# pipenv
#Pipfile.lock

# poetry
#poetry.lock

# pdm
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# IDEs and Editors
.vscode/
.spyderproject
.spyproject
.ropeproject
.idea/

# MkDocs
/site

# mypy, pyre, pytype
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython
cython_debug/

# Project folders to ignore
with_augmentation/
docs/
saved_models/

# Specific notebooks to ignore
Notebooks/Model Building.ipynb
Notebooks/Model Building copy.ipynb
Notebooks/ModelTraining.ipynb

# remove background video
static/assets/plan2.mp4
static/assets/video.mp4